@using panel.Models.Dtos
@model SearchDto
@*@{
        string searchtext = string.Empty;
        if (Model != null && !string.IsNullOrEmpty(Model.SearchText))
        {
            searchtext = Model.SearchText ;
        }
    }*@

<div class="container-fluid px-4 m-md-auto">
    <h1 class="mt-4" style="text-align:center">Arama Sonuç Listesi</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="place-content:center">
            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Arama Sonuç Listesi</li>
        </ol>
    </nav>

    <div class="container">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="input-group">
                    <input class="form-control" type="text" name="searchText" id="searchText" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="searchbutton"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>



    <div class="col-md-6 m-md-auto">
        <ul class="list-group" id="searchresult">
        </ul>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $("#searchbutton").click(function () {
        var inpt = $("#searchText").val();
        var format = /[ `!@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;

        if (inpt == "") {
            alert("Lütfen aramak istediğiniz metni giriniz. ");
        }
        else if (format.test(inpt)) {
            alert("Özel karakter yazamazsınız. ");
        }
        else {
            $.post("search", { searchText: inpt }, function (result) {
                var jarray = JSON.parse(result).SearchResultDtos;
                $.each(jarray, function (index) {
                    var url = jarray[index].SearhResultUrl;
                    var name = jarray[index].SearhResultUrlName;
                    $("#searchresult")
                        .append("<li class='list-group-item'><a href='/" + url + "''>" + name + "</a></li>");
                });
            });
        }

    });
</script>