@using panel.Models.Dtos
@model List<SliderDto>
@{
    int i = 1;
}

<div class="container mt-3">
    <h1>Slider Listesi</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Slider Listesi</li>
        </ol>
    </nav>


    @{ if (Model != null)
        {
            <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Slider Listesi
                    </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>İsim</th>
                                @*<th>Görseli</th>*@
                                <th>Sil</th>
                                <th>Güncelle</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@i</td>
                                    <td>@item.SliderName</td>
                                    @*<td>@item.ImageName</td>*@
                                    <td>
                                        Sil
                                        <a href="deleteSlider/@item.Id/@item.ImageName">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Güncelle
                                        <a href="updateSlider/@item.Id">
                                            <i class="far fa-edit"></i>
                                        </a>
                                    </td>

                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="text-align:end">
                <a href="/addSlider" class="btn btn-primary"> Yeni Ekle <i class="fa fa-plus" aria-hidden="true"></i></a>

            </div>
        }
        else
        {
            <div class="card mb-4">
                <div class="card-body">
                    Üzgünüm slider kayıtları bulunamadı.
                </div>
            </div>
        }
    }
</div>