@using panel.Models.Dtos
@model ICollection<UserDto>
@{
    int i = 1;
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Kullanıcı Listesi</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Kullanıcı Listesi</li>
        </ol>
    </nav>
    @{ if (Model != null)
        {
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Kullanıcılar
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>İsim</th>
                                <th>Rol</th>
                                <th>Sil</th>
                                <th>Güncelle</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@i</td>
                                    <td>@item.UserName</td>
                                    <td>@item.Role.RoleName</td>
                                    <td>
                                        Sil
                                        <a href="deletepaneluser/@item.Id">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Güncelle
                                        <a href="updatepaneluser/@item.Id">
                                            <i class="far fa-edit"></i>
                                        </a>
                                    </td>

                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="text-align:end">
                <a href="/addpaneluser" class="btn btn-primary"> Yeni Ekle <i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
        }
        else
        {
            <div class="card mb-4">
                <div class="card-body">
                    Üzgünüm kullanıcı kayıtları bulunamadı.
                </div>
            </div>
        }
    }
</div>