
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Charts - SB Admin</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3" href="/" style="display:inline-flex">
            <img src="~/images/webpImages/1.2.webp" style="height:3.5rem" />
        </a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group" id="searchdiv">
                <a href="/searchpage" class="btn btn-primary" type="button"><i class="fas fa-search"></i></a>
            </div>
        </form>
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    @*<li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>*@
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="/updatemydata/@User.Identity.Name ">Bilgilerimi Güncelle</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        @*<div class="sb-sidenav-menu-heading">Kullanıcı İşlemleri</div>*@


                        <a class="nav-link collapsed" href="/addCategory">
                            <div class="sb-nav-link-icon"><i class="fas fa-crosshairs"></i></div>
                            Kategori
                        </a>
                        <a class="nav-link collapsed" href="/addSubCategory">
                            <div class="sb-nav-link-icon"><i class="fa fa-tag"></i></div>
                            Alt Kategori
                        </a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseFeature" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-info"></i></div>
                            Adedi Bilgi
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseFeature" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/addFeature">Adedi Bilgi Ekle</a>
                            </nav>
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/linkFeaturesToSubCat">Adedi Bilgi İlişkilendir</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="/addFeatureDescription">
                            <div class="sb-nav-link-icon"><i class="fas fa-info"></i><i class="fas fa-info"></i></div>
                            Adedi Bilgi İçeriği
                        </a>


                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUser" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>

                            Kullanıcı
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseUser" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/addpaneluser">Panel Kullanıcısı Ekle</a>
                                <a class="nav-link" href="/panelusers">Panel Kullanıcıları</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProduct" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-barcode"></i></div>
                            Ürün
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseProduct" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/addProduct">Ürün Ekle</a>
                            </nav>
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/getAllProducts">Ürün Listesi</a>
                            </nav>
                        </div>







                        <a class="nav-link collapsed"  href="/addContact">
                            <div class="sb-nav-link-icon"><i class="fa fa-plug"></i></div>
                            İletişim                           
                        </a>                       

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTag" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fa fa-bullseye"></i></div>
                            Taglar
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseTag" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/addTag">Tag Ekle</a>
                            </nav>
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/getAllTags">Tag Listesi</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseBlog" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fa fa-align-justify"></i></div>
                            Blog
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseBlog" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/addBlog">Blog Ekle</a>
                            </nav>
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/getAllBlogs">Blog Listesi</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="/addSlider">
                            <div class="sb-nav-link-icon"><i class="fa fa-space-shuttle"></i></div>
                            Slider
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseReferance" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Referans
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseReferance" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/addReferance">Referans Ekle</a>
                            </nav>
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/getAllReferance">Referans Listesi</a>
                            </nav>
                        </div>


                        <a class="nav-link collapsed" href="/addAboutUs">
                            <div class="sb-nav-link-icon"><i class="fa fa-id-card"></i></div>
                            Hakkımızda
                        </a>

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    @User.Identity.Name   
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            @if (TempData["success"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["success"]
                    <button style="padding:revert; float:right;" id="ok" type="button" class="btn btn-primary btn-xs">X</button>

                </div>
            }
            @if (TempData["fail"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["fail"]
                    <button style="padding:revert; float:right;" id="times" type="button" class="btn btn-primary btn-xs">X</button>
                </div>
            }
            <main>
                @RenderBody()
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; <a href="www.linkedin.com/in/yusuf-muzaffer-deveci">III.Muzaffer</a></div>
                        @*<div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>*@
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/chart-area-demo.js"></script>
    <script src="~/assets/demo/chart-bar-demo.js"></script>
    <script src="~/assets/demo/chart-pie-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="~/js/datatables-simple-demo.js"></script>
    <script src="js/scripts.js"></script>
    <script type="text/javascript">
        $("#times").click(function () {
            $(".alert").hide();
        });
        $("#ok").click(function () {
            $(".alert").hide();
        });

        var loc = window.location.pathname;
        if (window.location.pathname == "/searchpage") {
            $("#searchdiv").css("display", "none");
        }

    </script>
</body>
</html>
