
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login - SB Admin</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <div class="alert alert-success" id="registerSuccess" role="alert">
                <button style="padding:revert; float:right;" id="ok" type="button" class="btn btn-primary btn-xs">X</button>
                @*<button style='padding: revert; float: right;' id='times' type='button' class='btn btn-primary btn-xs'>X</button>*@
            </div>
            <div class="alert alert-danger" id="registerDanger" role="alert">
                <button style="padding:revert; float:right;" id="times" type="button" class="btn btn-primary btn-xs">X</button>
            </div>
            <main>
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $("#registerDanger").css("display", "none");
        $("#registerSuccess").css("display", "none");

        $("#times").click(function () {
            $(".alert").hide();
        });
        $("#ok").click(function () {
            $(".alert").hide();
        });
        $("#forgotPass").click(function () {
            var inpt = $("#userName").val();
            escape("");
            var format = /^\w+([-+.'][^\s]\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;

            if (inpt == "") {
                $("#forgotPass_Valid").text("Lütfen e-posta adresinizi giriniz.");
            }
            else if (!format.test(inpt)) {
                $("#forgotPass_Valid").text("Lütfen geçerli bir e-posta adresi giriniz.");
            }
            else {
                $.post("forgotPasswordContent", { username: inpt }, function (result) {

                    if (result == 0) {
                        $("#userName").val("");
                        //$("#userName").text("");
                        $("#registerDanger").css("display", "block");
                        $("#registerDanger").append("Şifre gönderilemedi.");
                    }
                    else {
                        //$("#userName").text("");
                        $("#userName").val("");

                        $("#registerSuccess").css("display", "block");
                        $("#registerSuccess").append("Şifre sıfırlama talebi alındı.");
                    }




                    //var jarray = JSON.parse(result).SearchResultDtos;
                    //$.each(jarray, function (index) {
                    //    console.log(index)
                    //    var url = jarray[index].SearhResultUrl;
                    //    var name = jarray[index].SearhResultUrlName;
                    //    $("#searchresult")
                    //        .append("<li class='list-group-item'><a href='/" + url + "''>" + name + "</a></li>");
                    //});
                });
            }

        });
    </script>
</body>
</html>
