@using panel.Models.Dtos
@model PropertyDescription
@{
    var productProperties = new List<SelectListItem>();
    if (ViewBag.ProductPropertyList != null)
    {
        productProperties = ViewBag.ProductPropertyList as List<SelectListItem>;
    }
}
<div class="container mt-3">
    <h1>Özellik Açıklması Ekle</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Özellik Açıklması Ekle</li>
        </ol>
    </nav>


    <form class="mt-5" method="post" enctype="multipart/form-data" asp-action="CreatePropertyDescription" asp-antiforgery="true">
        <div class="form-group mt-3">
            <label style="display:block"> Özellikler</label>
            <select class="form-control" asp-for="ProductPropertyId">
                <option value="default" selected disabled>En az bir özellik seçiniz</option>
                @foreach (var item in productProperties)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>

        <div class="form-group mt-3">
            <label asp-for="Name">Özellik Açıklaması</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>



        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>

</div>
