@using panel.Models.Dtos
@model PropertyDescription
@{
    var productPropDescList = new List<SelectListItem>();
    if (ViewBag.ProductPropDescList != null)
    {
        productPropDescList = ViewBag.ProductPropDescList as List<SelectListItem>;
    }
}
<div class="container mt-3">
    <h1>Özellik Açıklması Ekle</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Özellik Açıklması Ekle</li>
        </ol>
    </nav>


    <form class="mt-5" method="post" enctype="multipart/form-data" asp-action="CreatePropertyDescription" asp-antiforgery="true">
        @{
            if (productPropDescList == null)
            {
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">Uyarı!</h4>
                    <p>Listelenicek Özellik Açıklaması bulunamadı. ******* ekleyebilmek için önce Özellik Açıklaması eklemelisiniz.</p>
                    <hr>
                    <a href="/addProductProperty"> Özellik Ekle </a>
                </div>
            }
            else
            {
                <div class="form-group mt-3">
                    <label style="display:block"> Özellik Açıklamaları</label>
                    <select class="form-control" asp-for="ProductPropertyId">
                        <option value="default" selected disabled>En az bir Özellik Açıklaması seçiniz</option>
                        @foreach (var item in productPropDescList)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            }
        }


        <div class="form-group mt-3">
            <label asp-for="Name">Özellik Açıklaması</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>



        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>

</div>
