
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card-body" style="text-align:center;">
                <h5 class="card-title">Kullanıcı Adı ya da Şifre Hatalı</h5>
                <a href="/login" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
</div>