@using panel.Models.Dtos
@model UserDto
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5" style="background-color:transparent;">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Şifremi Unuttum</h3></div>
                <div class="card-body">
                    <form id="forgotpassForm" method="post" enctype="multipart/form-data">
                        <div class="form-floating mb-3">
                            <input id="userName" class="form-control" type="email" required />
                            <span id="forgotPass_Valid" class="text-danger"></span>
                            <label for="inputEmail">E-Posta Adresi</label>
                        </div>

                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <a class="small" href="/login">Login</a>
                            <button type="button" id="forgotPass" class="btn btn-primary">Şifre Gönder</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
