
@model panel.Models.Dtos.UserDto
@{
    ViewData["Title"] = "UpdatePanelUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Bilgilerimi Güncelle</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
        <li class="breadcrumb-item active">Bilgilerimi Güncelle</li>
    </ol>
   
    <div class="col-4">

        <form method="post" enctype="multipart/form-data" asp-action="UpdateMyDataContent" asp-antiforgery="true">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <div class="form-outline mb-4">
                <label asp-for="UserName" class="form-label">Kullanıcı adı</label>
                <input asp-for="UserName" type="email" class="form-control" value="@Model.UserName" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-outline mb-4">
                <label asp-for="Password" class="form-label">Güncel Şifre</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-outline mb-4">
                <label asp-for="NewPassword" class="form-label">Yeni Şifre</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4">Kaydet</button>
        </form>
    </div>

</div>


@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

