
@using panel.Models
@model Faq
<div class="container mt-3">
    <h1>S.S.S Ekle</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">S.S.S Ekle</li>
        </ol>
    </nav>

    <form class="mt-5" method="post" enctype="multipart/form-data"  asp-action="UpdateFaqContent" asp-antiforgery="true">
            <input type="hidden" asp-for="Id" class="form-control" value="@Model.Id">

        <div class="form-group mt-3">
            <label asp-for="Title">Soru</label>
            <input asp-for="Title" class="form-control" value="@Model.Title">
        </div>
        <div class="form-group mt-3">
            <label asp-for="Description">Cevap</label>
            <input asp-for="Description" class="form-control" value="@Model.Description">
        </div>

        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
   
</div>