@using panel.Models
@model Category
@{
    var categories = ViewBag.Categories as List<Category>;
    int i = 1;
}

<div class="container mt-3">
    <h1>Kategori Ekle</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Kategori Ekle</li>
        </ol>
    </nav>

    <button id="btnaddnew" class="btn btn-success" style="text-align:end">
        Yeni Ekle <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
    <form id="addnewcat" class="mt-5" method="post" enctype="multipart/form-data" asp-action="CreateCategory" asp-antiforgery="true">

        <div class="form-group mt-3">
            <label asp-for="Name">Kategori Adı</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>


    @if (categories != null)
    {
        <div class="card mb-4 mt-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Kategoriler
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>İsim</th>
                            <th>Sil</th>
                            <th>Güncelle</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in categories)
                        {

                            <tr>
                                <td>@i</td>
                                <td>@item.Name</td>
                                <td>
                                    Sil
                                    <a href="deleteCategory/@item.Id">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                                <td>
                                    Güncelle
                                    <a href="updateCategory/@item.Id">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </td>

                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $('#btnaddnew').css('display', 'block');
    $('#addnewcat').css('display', 'none');
    $('#btnaddnew').click(function () {
        $('#btnaddnew').css('display', 'none');
        $('#addnewcat').css('display', 'block');

    });
</script>