@using panel.Models
@model Product
@{
    DateTime Currentdate = DateTime.Now;
    var categories = ViewBag.Categories as List<SelectListItem>;
}
<script src="//cdn.ckeditor.com/4.17.1/full/ckeditor.js"></script>
<div class="container mt-3">
    <h1>Ürün Ekle</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ürün Ekle</li>
        </ol>
    </nav>
    <form class="mt-5" method="post" enctype="multipart/form-data" asp-action="CreateProduct" asp-antiforgery="true">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="CreateDate" value="@Currentdate" />
        <input type="hidden" asp-for="FeatureIds" value="" />
        <input type="hidden" asp-for="FeatureDescriptionIds" value="" />
        <div class="form-group mt-3">
            <label asp-for="Name">Ürün Adı</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        @if (categories == null)
        {
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Uyarı!</h4>
                <p>Listelenicek kategori bulunamadı. Ürün ekleyebilmek için önce kategori eklemelisiniz.</p>
                <hr>
                <a href="/addCategory" target="_blank"> Kategori Ekle </a>
            </div>
        }
        else
        {

            <div class="form-group mt-3">
                <label>Ürün kategorisi</label>
                <select class="form-control" id="categoryId" asp-for="CategoryId">
                    <option value="default" disabled selected>Lütfen bir kategori şeçiniz</option>
                    @foreach (var item in categories)
                    {
                        <option value="@item.Value">@item.Text</option>

                    }
                </select>
            </div>
        }
        <div id="subcatalertId">
        </div>
        <div id="subcatId" class="form-group mt-3">
            <label>Alt kategorisi</label>
            <select class="form-control" id="subCategoryId" asp-for="SubCategoryId"></select>
        </div>
        <div id="featureDiv" class="mt-3 p-2" style="border: 1px solid #ced4da; border-radius: 0.25rem; background-color: #F8F8F8;">
            <label>Adedi Bilgileri</label>
            <hr />
            <div id="featurealertId">
            </div>
            <div id='featId' class='form-group mt-3'>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                <button id="takeFeature" type="button" class="btn btn-primary">Adedi Bilgileri Al</button>
            </div>
        </div>

        <div class="form-group mt-3">
            <label asp-for="ShortDesc">Kısa Açıklama</label>
            <input asp-for="ShortDesc" class="form-control">
            <span asp-validation-for="ShortDesc" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="ShortDesc">Ürün Açıklaması</label>
            <textarea asp-for="Description" id="Description" class="ckeditor" name="Description" rows="200"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="ImageFile" style="display:block;">Ürün Görseli</label>
            <input asp-for="ImageFile" type="file" class="form-control-file mt-1">
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
        <div class="form-check mt-3">
            <label class="form-check-label" asp-for="IsPublish">Ürünü Yayınla</label>
            <input class="form-check-input" checked asp-for="IsPublish" type="checkbox" value="true">
        </div>
        <div class="d-flex align-items-center justify-content-between mt-4 mb-3">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        CKEDITOR.replace('#Description')
    });

    $('#subcatId').css("display", "none");
    $('#featureDiv').css("display", "none");
    $('#featurealertId').css("display", "none");
    $('#takeFeature').css("display", "none");
    $("#categoryId").change(function () {
        var optioncategoryId = $('#categoryId').find(':selected').val();
        if (optioncategoryId != null && optioncategoryId != undefined) {
            var subCatUrl = "/getSubCategoryByCatId/" + optioncategoryId;
            var subcats = [];
            $.get(subCatUrl, function (data) {
                $("#subcatalertId").html("");
                if (data == null) {
                    $("#subcatalertId").append("<div class='alert alert-warning'role='alert'><h4 class='alert-heading'>Uyarı!</h4><p> Listelenicek alt kategori bulunamadı.Ürün ekleyebilmek için önce alt kategori ekleyin ve tekrar kategori seçin.</p><hr><a href='/addSubCategory' target='_blank'>Alt Kategori Ekle </a></div>");
                }

                $.each(data, function (key, value) {
                    subcats.push(value);
                });
                $('#subcatId').css("display", "block");
                $("#subCategoryId").html("");
                $("#subCategoryId").append("<option value='default' disabled selected>Lütfen bir alt kategori şeçiniz</option>");
                $.each(subcats, function (keysubcats, valuesubcats) {
                    $("#subCategoryId").append(`<option value=${parseInt(valuesubcats.id)}>${valuesubcats.name}</option>`);
                });
            });
        }
    });

    $("#subCategoryId").change(function (e) {
        if (e.target.value > 0) {
            var featureUrl = "/getFeaturesBySubCatId/" + parseInt(e.target.value);
            var features = [];
            $.get(featureUrl, function (data_features) {               
                //if (data_features == 0) {
                //    $("#featurealertId").html("");
                //    $("#featId").html("");
                //    $('#featureDiv').css("display", "block");
                //    $('#featurealertId').css("display", "block");
                //    $('#takeFeature').css("display", "none");

                //    $("#featurealertId").append("<div class='alert alert-warning'role='alert'><h4 class='alert-heading'>Uyarı!</h4><p> Seçilen alt kategoriye ait listelenicek adedi bilgi bulunamadı. Seçilen alt kategoriye ait ürün ekleyebilmek için önce adedi ekleyin ve tekrar alt kategori seçin.</p><hr><a href='/addFeature' target='_blank'>Alt Kategori Ekle </a></div>");
                //}
                if (data_features != 0) {
                    $("#featurealertId").html("");
                    $('#featurealertId').css("display", "none");
                    $('#featureDiv').css("display", "block");
                    $('#takeFeature').css("display", "block");

                    $.each(data_features, function (key_features, value_features) {
                        console.log(data_features[key_features]);
                        if (data_features[key_features].isChoosen) {
                            features.push(value_features);
                        }

                    });

                    $("#featId").html("");
                    var featId = document.getElementById("featId");
                    $.each(features, function (index, valuefeatures) {
                        let div = document.createElement("div");
                        div.className = "form-group mt-3";
                        /*div.id*/
                        let select = document.createElement("select");
                        select.className = "form-control featureSelect";
                        /*select.id*/
                        let label = document.createElement("label");
                        label.innerText = valuefeatures.name;
                        function officesList() {
                            var first_el = document.createElement("option");
                            first_el.textContent = "Bir Adedi Bilgi İçeriği seçiniz";
                            first_el.value = "default";
                            first_el.disabled = "true";
                            first_el.selected = "true";
                            select.appendChild(first_el);

                            for (var i = 0; i < valuefeatures.featureDescriptions.length; i++) {
                                var optn = valuefeatures.featureDescriptions[i];
                                var el = document.createElement("option");
                                el.setAttribute("data-val", `${valuefeatures.id}`);
                                el.textContent = optn.featureDesc;
                                el.value = optn.id;

                                select.appendChild(el);
                            }
                        }

                        officesList();

                        div.appendChild(label);
                        div.appendChild(select);
                        featId.appendChild(div);

                    });
                }
            });
        }
    });

    $("#takeFeature").click(function (e) {
        var featureIdsList = [];
        var featureDescriptionIdsList = [];
        var featArr = $("#featId .featureSelect option:selected").map(function () {
            var fe = $(this).data("val");
            if (!isNaN(fe)) {
                return $(this).data("val").toString();
            }

        }).get();

        var featureDescIdArr = $('select.featureSelect').map(function () {
            return this.value;
        }).get();

        $.each(featArr, function (key, fa) {
            if (typeof fa == "string" && fa != "0" && !isNaN(fa)) {
                featureIdsList.push(fa);
            }
        });

        $.each(featureDescIdArr, function (key, fda) {
            if (typeof fda == "string" && fda != "0" && !isNaN(fda)) {
                featureDescriptionIdsList.push(fda);
            }
        });


        var featureIds = featureIdsList.join();
        var featureDescriptionIds = featureDescriptionIdsList.join();
        $('#FeatureIds').val(featureIds);
        $('#FeatureDescriptionIds').val(featureDescriptionIds);
    });

</script>

