@using panel.Models
@model List<Product>
@{
    int i = 1;
}
<style>
    .tableimage {
        width: 50%;
        height: 50%;
    }
</style>
<div class="container mt-3">
    <h1>Ürün Listesi</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ürün Listesi</li>
        </ol>
    </nav>

    @{ if (Model != null)
        {
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Ürünler
                </div>
                <div class="card-body">
                    <table id="datatablesSimple" style="text-align:center;">
                        <thead>
                            <tr>
                                <th style="width:10%">No</th>
                                <th style="width:30%">İsim</th>
                                <th style="width:10%">Görsel</th>
                                <th style="width:20%">Tarih</th>
                                <th style="width:10%">Yayında mı?</th>
                                <th style="width:10%">Sil</th>
                                <th style="width:10%">Güncelle</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td style="width:10%; font-size:medium">@i</td>
                                    <td style="width:30%">@item.Name</td>
                                    <td style="width:10%"><img class="tableimage" src="~/images/webpImages/@item.ImagePath" /></td>
                                    <td style="width:20%">@item.CreateDate</td>

                                    @{
                                        if (item.IsPublish)
                                        {
                                            <td style="width:10%"><i class="fa fa-check" style="color:#116530; font-size: large"></i></td>
                                        }
                                        else
                                        {
                                            <td style="width:10%"><i class="fa fa-times" style="color: #CD1818; font-size: large"></i></td>
                                        }
                                    }

                                    <td style="width:10%">
                                        <a href="deleteProduct/@item.Id/@item.ImagePath">
                                            <i class="far fa-trash-alt" style="color:#CD1818; font-size: large"></i>
                                        </a>
                                    </td>
                                    <td style="width:10%">
                                        <a href="updateProduct/@item.Id">
                                            <i class="far fa-edit" style="color:#F3950D; font-size: large"></i>
                                        </a>
                                    </td>

                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="text-align:end">
                <a href="/addProduct" class="btn btn-primary"> Yeni Ekle <i class="fa fa-plus" aria-hidden="true"></i></a>

            </div>
        }
        else
        {
            <div class="card mb-4">
                <div class="card-body">
                    Üzgünüm kullanıcı kayıtları bulunamadı.
                </div>
            </div>
        }
    }
</div>