@using panel.Models
@model List<Product>
@{
    int i = 1;
}


<div class="container mt-3">
    <h1>Ürün Listesi</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ürün Listesi</li>
        </ol>
    </nav>
    @* Ürünlerin küçük resimleri gelicek *@
    @* Ürünleri soneklenene göre sıralıcaz *@

    @{ if (Model != null)
        {
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Ürünler
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                                <tr>
                                    <th>No</th>
                                    <th>İsim</th>
                                    <th>Görsel</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>

                                </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                            <tr>
                                <td>@i</td>
                                <td>@item.Name</td>
                                <td><img src="~/images/webpImages/@item.ImagePath" style="height:50px;" /></td>
                                <td>
                                    Sil
                                    <a href="deleteProduct/@item.Id">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                                <td>
                                    Güncelle
                                    <a href="updateProduct/@item.Id">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </td>

                            </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="text-align:end">
                <a href="/addProduct" class="btn btn-primary"> Yeni Ekle <i class="fa fa-plus" aria-hidden="true"></i></a>

            </div>
        }
        else
        {
            <div class="card mb-4">
                <div class="card-body">
                    Üzgünüm kullanıcı kayıtları bulunamadı.
                </div>
            </div>
        }
    }
</div>